<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Online Custom Framing</title>
  <!--<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">-->
  <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header>
    <div class="wrapper"></div>
  </header>

  <nav>
    <div class="wrapper"></div>
  </nav>

  <div class="wrapper">
    <%=yield%>
  </div>

  <footer>
    <div class="wrapper"></div>
  </footer>

</body>

</html>